<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:#18A689;font-size:26px !important">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="6" comments="New Customers" colour="green" type="user"></stats>
        <stats number="12" comments="New Stocks" colour="primary" type="comments"></stats>
        <stats number="18" comments="New Orders" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Pending Reviews" colour="red" type="support"></stats>

    </div>
</div>
