<div>
    <div class="panel panel-default">
        <div class="panel-heading pseudo" style="font-size:x-large;background-color:#9D9D9D;color:white;">DASHBOARD</div>
        <div class="panel-body">
            
        </div>
    </div>
    <!-- /.row -->
    <!--<div class="row">
        
        <stats number="6" comments="New Customers" colour="green" type="user"></stats>
        <stats number="12" comments="New Stocks" colour="primary" type="comments"></stats>
        <stats number="18" comments="New Orders" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Pending Reviews" colour="red" type="support"></stats>

    </div>-->
</div>
