<div id="wrapper">
    <!-- Navigation -->

    <header></header>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
    <div id="page-wrapper" style="min-height: 600px;margin-left:0px !important;padding-top:70px !important;line-height:35px !important;background-color:#EEEEEE;">
        <div ui-view></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom row">
        <div class="row" style="margin-left:0px !important;margin-right:0px !important;max-height:100px;">
            <div class="col-sm-4" style="margin-left:20px;color:grey;">
                <div style="height:25px;"></div>
                Copyright &#169 2016 HEW. All rights reserved
            </div>            
            <div class="col-sm-5"></div>
            <div class="col-sm-3 pull-right">
                <img src="Images/HEWlogo.jpg" />
            </div>
        </div>
    </nav>
</div>
